#input files
input/**/data/*
**/.cpkl

#output files
output/**
*.out
*.swp
*.csv
# don't ignore the evaluation results
!output/evaluation/**
!output/visualizations/**

#log files
*.log

#IDE files (PyCharm/ IntelliJ)
.idea/

#pycache
**/__pycache__/**
*.pyc


#jupyter-notebook cache
**/.ipynb_checkpoints/*
src/jupyter-notebooks/runs/*


#tensorboard files
runs/*